* {
    padding: 0;
    margin: 0;
}

body {
    background-color: rgb(228, 228, 228);
}

header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: #212528;
    padding: 20px 25px;
}

header a {
    color: black;
    background-color: white;
    padding: 15px;
    text-decoration: none;
}

.container {
    display: flex;
}

.sidebar {
    flex: 1.5;
    flex-direction: column;
    width: 18%;
    background-color: #212528;
    color: white;
    padding: 10px;
    min-height: 88vh;
}

.sidebar-title {
    padding-bottom: 10px;
}

.sidebar-list-row {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.sidebar-list-row>a {
    padding: 15px;
    color: white;
    width: 100%;
    text-decoration: none;
}

.sidebar-list-row:hover {
    background-color: #181a1c;
}

main {
    flex: 8;
    padding: 20px;
}

.table {
    background-color: white;
}

.table table {
    border-collapse: collapse;
    width: 100%;
}

.table table th {
    background-color: #212528;
    color: white;
}

.table table td,
th {
    text-align: center;
    border: 1px solid #ddd;
    padding: 10px;
}

.huh {
    text-align: start !important;
}

.table table tr:nth-child(even) {
    background-color: #f2f2f2;
}

.thaotac a {
    color: white;
    font-size: 20px;
    padding: 5px;
    border-radius: 5px;
}

.thaotac {
    width: 75px;
}

.setting {
    background-color: #3384ff;
}

.delete {
    background-color: #ff3333;
}

.search_add {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px 0;
}

.search_add a {
    display: flex;
    align-items: center;
    padding: 10px;
    text-decoration: none;
    color: white;
    background-color: #212528;
    border-radius: 10px;
}

.search_add i {
    font-size: 15px;
    margin-right: 3px;
}

.myform {
    background-color: white;
    border-radius: 5px;
    padding: 10px;
}

.inputgroup {
    margin-bottom: 10px;
}

.inputgroup input {
    box-sizing: border-box;
    padding: 10px 0 10px 10px;
    border-radius: 5px;
    width: 100%;
    outline: none;
    border: 1px solid #21252880;
}

.myform>input,
.myform+button {
    padding: 8px;
    border-radius: 3px;
    border: none;
    cursor: pointer;
}

.myform input[type="submit"] {
    background-color: #212528;
    color: white;
}

.preview_upload_img {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    background-color: rgb(193, 193, 193);
    width: 180px;
    height: 180px;
    border: 3px dashed gray;
    box-sizing: border-box;
    cursor: pointer;
    color: white;
    font-size: 20px;
    margin-right: 5px;
    position: relative;
    background-clip: content-box;
}

.preview_img {
    display: flex;
    width: 180px;
    height: 180px;
    box-sizing: border-box;
    margin-right: 5px;
    position: relative;
    background-clip: content-box;
}

.preview_upload_img i {
    font-size: 30px;
}

.inputgroup.flex {
    display: flex;
}

.preview_upload_img img {
    object-fit: cover;
    width: 100%;
    height: 100%;
    position: absolute;
    top: 0;
    bottom: 0;
}

.preview_img img {
    object-fit: cover;
    width: 100%;
    height: 100%;
    position: absolute;
    top: 0;
    bottom: 0;
}

/*  */
.dropbtn {
    margin-left: 100%;
    border: none;
    cursor: pointer;
}



.dropdown {
    position: relative;
    display: inline-block;
}

.dropdown-content {
    display: none;
    position: absolute;
    background-color: #f1f1f1;
    min-width: 160px;
    overflow: auto;
    box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.2);
    z-index: 1;
}

.dropdown-content a {
    color: black;
    padding: 12px 16px;
    text-decoration: none;
    display: block;
}

.dropdown a:hover {
    background-color: #ddd;
}

.show {
    display: block;
}

textarea {
    padding: 8px;
}

.admin_view_textarea {
    padding: 8px;
    resize: none;
}